<% if (modules === 'es6') { -%>
import React from 'react'
import autobind from 'autobind-decorator'
<% if (pureRender) { -%>
import Component from 'react-pure-render/component'
<% } -%>
<% if (bootstrap) { -%>
import { Panel } from 'react-bootstrap'
<% } -%>

const { string } = React.PropTypes
<% } else { -%>
const React = require('react')
    , autobind = require('autobind-decorator')
<% if (pureRender) { -%>
    , Component = require('react-pure-render/component')
<% } -%>

<% if (bootstrap) { -%>
const { Panel } = require('react-bootstrap')
<% } -%>
const { string } = React.PropTypes
<% } -%>

class <%= name %> extends <%= pureRender ? 'Component' : 'React.Component' %> {
  static defaultProps = {
    title: 'I am <%= name %>'
  }

  static propTypes = {
    title: string
  }

<% if (state === 'class' ) { -%>
  state = { }
<% } else if (state === 'constructor' ) { -%>
  constructor(props, context) {
    super(props, context)
    this.state = { }
  }
<% } -%>

  @autobind handleClick() {
    // ..
  }

  render() {
    const { children, title } = this.props

    <% if (bootstrap) {%>return <Panel header={title} onClick={this.handleClick}>
      <p>Content</p>
      { children }
    </Panel><%} else {%>return <div onClick={this.handleClick}>
      <h2>{ title }</h2>
      <p>Content</p>
      { children }
    </div><%}%>
  }
}

<% if (modules === 'es6') { -%>
export default <%= name %>
<% } else { -%>
module.exports = <%= name %>
<% } -%>
